<ion-view view-title="Store" ng-init="getUser()">
<ion-nav-title>
    Store
</ion-nav-title>
	<ion-content class="view-store">
	    <div class="flex-content">
			<div class="card">
				<div class="item item-text-wrap abilitie-content">
					<div class="abilitie-install">
						<i class="icon ion-checkmark-circled"></i>
					</div>
					<div class="abilitie-text">
						<div class="abilitie-header">
							<div class="abilitie-title">Call</div>
							<div class="abilitie-price">Free</div>
						</div>
						<div class="abilitie-description">
							Your Daemon can call from your phone.
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="item item-text-wrap abilitie-content">
					<div class="abilitie-install">
						<i class="icon ion-ios-circle-outline"></i>
					</div>
					<div class="abilitie-text">
						<div class="abilitie-header">
							<div class="abilitie-title">Search</div>
							<div class="abilitie-price">Free</div>
						</div>
						<div class="abilitie-description">
							Your Daemon can search information online.
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
