<ion-view view-title="2cmind" ng-init="getUser()">
<ion-nav-title>
    2cmind
</ion-nav-title>
  <ion-content class="view-daemon">
  	<div class="flex-content">
  		<div class="chat">
  			<div class="card message-user">Hello!</div>
  			<div class="card message-daemon">
  				<div class="message-result">
  					Hi!
  				</div>
  				<!--<div class="message-tools">
  					<i class="icon ion-ios-heart-outline"></i>
  					<i class="icon ion-ios-heart"></i>
  					<i class="icon ion-android-star-outline"></i>
  					<i class="icon ion-android-star"></i>
  					<i class="icon ion-ios-star-outline"></i>
  					<i class="icon ion-ios-star"></i>
  				</div>-->
  			</div>
  		</div>
  		<div class="input">
  			<label class="item item-input">
  				<i class="icon ion-android-textsms placeholder-icon"></i>
				<input type="text" placeholder="write here">
			</label>
  		</div>
  		<div class="tools">
  			<i class="icon ion-ios-heart"></i>
  			<i class="icon ion-android-send"></i>
  			<i class="icon ion-android-cancel"></i>
  		</div>
  	</div>
  </ion-content>
</ion-view>
