<ion-view view-title="Login" ng-controller="sessionCtrl" ng-init="isLogin()">
	<ion-content class="view-login">
	    <div class="flex-content">
		    <img src="./img/isotype-blue.png" style="width: 50px; height: 50px;">
		    <div class="list list-inset">
				<label class="item item-input">
					<i class="icon ion-ios-email placeholder-icon"></i>
					<input type="text" placeholder="Email address" ng-model="loginData.email">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="password" placeholder="Password" ng-model="loginData.password">
				</label>
				<button class="button button-block button-positive" ng-click="login()">
					Login
				</button>
			</div>
			<a href="#/signup">
			<button class="button button-clear button-positive">
				Sign up for 2cmind
			</button>
			</a>
			<a href="#/forgotpassword">
			<button class="button button-clear button-positive">
				Forgot your password?
			</button>
			</a>
		</div>
	</ion-content>
</ion-view>