<ion-view view-title="Profile" ng-controller="sessionCtrl" ng-init="getUser()">
<ion-nav-title>
    Profile
</ion-nav-title>
	<ion-content class="view-profile">
	    <div class="flex-content">
		    <div class="list list-inset">
				<label class="item item-input">
					<i class="icon ion-person placeholder-icon"></i>
					<input type="text" placeholder="Name" ng-model="user.name">
				</label>
				<label class="item item-input">
					<i class="icon ion-ios-email placeholder-icon"></i>
					<input type="text" placeholder="Email address" ng-model="user.email">
				</label>
				<br>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="password" placeholder="New Password">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="password" placeholder="Repeat new Password">
				</label>
				<button class="button button-block button-positive">
					Save
				</button>
				<button class="button button-outline button-positive" ng-click="logout()">
					Logout
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
